<!-- FORM TO CREATE INVESTMENTS -->
<div id="investment-form" class="row">
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<form>
			<div class="form-group">
				<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
				<input type="text" class="form-control input-lg text-center" placeholder="Name of the investment (required)" ng-model="formData.title" required>
				<textarea class="form-control input-lg text-center" placeholder="Details of the investment" ng-model="formData.details"></textarea>
				<input type="number" class="form-control input-lg text-center" placeholder="Current valorisation of this placement" ng-model="formData.valorisation">
			</div>

			<button type="button" class="btn btn-default btn-lg" ng-click="cancel()">Cancel</button>
			<button type="submit" class="btn btn-primary btn-lg" ng-if="!isEditing" ng-click="createInvestment()">Add an investment</button>
			<button type="submit" class="btn btn-primary btn-lg" ng-if="isEditing" ng-click="editInvestment()">Edit investment</button>
		</form>
	</div>
</div>