<button type="submit" class="btn btn-default btn-sm pull-right" ng-click="logout()">Logout</button>
<!-- HEADER AND INVESTMENT COUNT -->
<div class="jumbotron text-center">
	<h1>Welcome {{ user.name }}, your portfolio is currently evaluated at <span class="label label-info">{{ evaluatePortefolio() }} $</span></h1>
</div>

<!-- INVESTMENT LIST -->
<div id="investment-list">
	<div class="jumbotron">
		<div ng-show="!investments.length">No investment yet.</div>
		<!-- LOOP OVER THE investmentS IN $scope.investments -->
		<div ng-repeat="investment in investments">
			<label ng-click="goToInvestment(investment._id)" class="btn-link">
				{{ investment.title }}  - {{ investment.valorisation }} $  ({{ investment.details }})
			</label>
			<button type="button" class="btn btn-danger btn-xs" ng-click="deleteInvestment(investment._id)">Delete</button>
		</div>

	</div>
</div>

<!-- FORM TO CREATE INVESTMENTS -->
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 text-center">
			<button type="submit" class="btn btn-primary btn-lg" ng-click="goToInvestment()">Create an investment</button>
		</form>
	</div>
</div>